body{
font-family: 'Goblin One', cursive;

}

.bg-racetrack{
  background-image: url(https://thumbs.gfycat.com/PeriodicEnormousAfricanjacana-size_restricted.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
